<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>680278617150-9gdaugj5p4qae13ourd827et43qr4a4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680278617150-9gdaugj5p4qae13ourd827et43qr4a4e</string>
	<key>API_KEY</key>
	<string>AIzaSyCVWL3UyGtt6CFLE_QCy6jMxbbXiiVG62I</string>
	<key>GCM_SENDER_ID</key>
	<string>680278617150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lilyhoffman.FishermenLabs</string>
	<key>PROJECT_ID</key>
	<string>fishermen-9db4f</string>
	<key>STORAGE_BUCKET</key>
	<string>fishermen-9db4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680278617150:ios:a988c3508a30962c</string>
	<key>DATABASE_URL</key>
	<string>https://fishermen-9db4f.firebaseio.com</string>
</dict>
</plist>